[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/Paper"]
	path = themes/Paper
	url = git@github.com:nanxiaobei/hugo-paper.git
